html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.hero.is-info {
  background: linear-gradient(#4481eb, #04befe);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}
